[submodule ".janus/vim-autotags"]
	path = .janus/vim-autotags
	url = https://github.com/basilgor/vim-autotags.git
[submodule ".janus/smarty.vim"]
	path = .janus/smarty.vim
	url = https://github.com/vim-scripts/smarty.vim.git
[submodule ".janus/phpcomplete.vim"]
	path = .janus/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule ".janus/YouCompleteMe"]
	path = .janus/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".janus/tern_for_vim"]
	path = .janus/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
